SEND_EMAIL/src/main/mule/send_email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="73ffeaa8-3b6a-4a65-ae9e-d90edf153f6e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="858b32d9-af4f-4ff0-8101-5ac87bde0161" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="username" password="password" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="send_emailFlow" doc:id="d2d4b19d-99c3-4517-b80a-c51a6300b7f5" >
		<http:listener doc:name="Listener" doc:id="7dfe2e33-fcd3-46f1-b037-0d9974d673be" config-ref="HTTP_Listener_config" path="/send_email"/>
		<email:send doc:id="41986425-ac3f-4ac0-b7e5-ecb2de1b1b25" config-ref="Email_SMTP">
			<email:to-addresses >
				<email:to-address value="xyz@test.com" />
			</email:to-addresses>
			<email:body >
				<email:content ><![CDATA[#[output text/plain
---
"Hello Jayesh"]]]></email:content>
			</email:body>
		</email:send>
	</flow>
</mule>
